@font-face {
    font-family: "norse";
    src: 
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html{
    height: 100%;
    font-family: system-ui, sans-serif;

}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height:100%;
}

.display-card {
    flex: 1.1;
    display: flex;
    align-items:start;
    background-image: url("images/lighthouse.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
}

.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    flex: 1;
    box-sizing: border-box;
    background-color: #F9FAFB;   
    width: 100%;
    padding: 32px;
    padding-left: 42px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    font-weight: 600;
}
.form {
    flex: 1;
    width: 100%;
    padding: 0 32px 32px 42px;
    box-sizing: border-box;

}
.form p {
    font-weight: 500;
}

.footer {
    flex: 1;
    background-color: #F9FAFB; 
    width: 100%;
    box-sizing: border-box;
    padding: 32px 42px;
    box-shadow: 0px 4px 7px -6px inset;
}

form {
    display: flex;
    gap: 38px;
}

.input-field {
    display: flex;
    flex-direction: column;

}

.input-field label {
    font-size: 10px;
    font-weight: 550;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.input-field input {
    width: 180px;
    height: 18px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 4px 8px;
}

.form .col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.create-account-btn {
    background-color: #5d6d4e;
    color: white;
    padding:10px 36px ;
    border: none;
    border-radius: 6px;
}

.log-in-btn {
    text-decoration: none;
    color: #5d6d4e;
}

.footer-text {
    margin-top: 28px;
}

.logo-container {
    width: 100%;
    height: 33.333%;
    display: flex;
    align-items: end;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 120px;
    
}
.logo-header img {
    height: 70%;
}

.logo-text {
    font-family: norse;
    color: white;
    font-size: calc((6rem));
    margin: 0;
    line-height: 1;
    padding-top: 30px;
}

.logo-footer {
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    margin: 12px 0;
}

.logo-footer a{
    color:rgba(255, 255, 255, 0.5);
}