@font-face {
    font-family: "norse";
    src: 
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height:100%;
}
.display-card {
    flex: 1;
    display: flex;
    align-items:center;
    background-image: url("images/lighthouse.jpg");
    background-size:cover;
}

.form-section {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: row;
}